/* Brand */
$primary: #407dd0;
$primary--light: #a8cdff;
$primary--dark: #24579d;

/* Neutral */
$black: #333333;
$grey--dark: #737373;
$grey--medium: #cecece;
$grey--light: #e9e9e9;
$white: #ffffff;

/* Text */
$text--dark: #333333;
$text--medium: #cecece;
$text--light: #e9e9e9;

/* Feedback */
$danger: #fc4e41;
$warning: #ede02d;
$success: #a5e366;
