.card {


  &__header {
    &--title {
      margin-bottom: 20px;
    }

    &--subheading {
    }

    &--link {
      margin-top: 20px;
      margin-bottom: 30px;
    }


  }


  &__form {
    padding-top: 5px;
    &--input {
      margin-top: 20px;
      //margin-bottom: 20px;
    }

    &--link {
      margin-top: 10px;
    }

    &--button {
      margin-top: 30px;
    }
  }

}
